/* cart */

.cart{
    display: flex;
    flex-wrap: wrap;
    margin: 1rem;
    align-items: flex-start;
    width: 40%;
  }
  .cartCheck {
    margin-top: 5px;
  }
  .cart-list{
    flex: 3 1 60rem;
  }
  .cart-action{
    flex:1 1 20rem;
    background-color: honeydew; 
    border-radius: .5rem;
    padding: 1rem;
    text-align: center;
  }
  .cart-list-container{
    padding: 0;
    list-style-type: none;
    padding: 1rem;
    margin-top: 45px;
  }
  .cart-list-container li{
    display: flex;
    justify-content: space-between;
    align-items: flex-end;
    padding-bottom: 1rem;
    margin-bottom: 1rem;
    border-bottom: .1rem #808080 solid;
  }
  .cart-list-container li img{
    max-width: 10rem;
    max-height: 10rem;
    
  }
  .cart-list-container li:first-child{
    display: flex;
    justify-content: space-between;
    align-items: flex-end;
  }
  .cart-name{
    flex: 8 1;
  }
  .cart-image{
    flex: 1 1;
  }
  .cart-price{
    flex: 1 1;
    font-size: 2.5rem;
    text-align: right;
  }
  .form{
    display:flex;
    justify-content: center;
    align-items: center;
    height: 100%;
    margin-top: 60px;
  }
  .form-container{
    display:flex;
    flex-direction:column;
    width: 32rem;
    padding: 2rem;
    border: .1rem #c0c0c0c0 solid;
    border-radius: .5rem;
    list-style-type: none;
  }
  .form-container li{
    display: flex;
    flex-direction: column;
    margin-bottom: 1rem;
    margin-top: 1rem;
  }
  input{
    padding: 1rem;
    border: .1rem #c0c0c0c0 solid;
    border-radius: .5rem;
  }
  .top-cart{
    display: flex;
    justify-content: center;
  }
  