.Home {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.contentDiv {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 45%;
    width: 45%;
    margin: auto;
    border-radius: 45px;
    
}
.itemHeader {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 70px;
  width: 140rem;
  padding: 12px;
  background-color: rgba(31, 228, 118, 0.431);
  margin-top: 10px;
  border-radius: 15px;
}
a.signButt {
  color: black;
}
.itemHeader-links {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-around;
  padding: 10px;
}
.itemHeaderdiv {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 55px;
}
.storeFrontdiv {
    height: 100%;
    width: 130rem;
    margin-top: 20px;
    margin-bottom: 10px;
    border-radius: 35px;
    background-image: url(../images/pixel-background.jpg);
}
.homepageButts {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 65px 0px 45px 0px;
    color: black;
    margin-left: 40px;
}

.priceFilterbutt,.ratingFilterbutt,.allItemsbutt,.newestFilterbutt{
  height: 100px;
  width: 120px;
  flex-wrap: wrap;
  border-radius: 20%;
  color: rgb(7, 7, 7);
  background-color: #fb9c04;
  font-size: 24px;
  font-weight: bold;
  text-shadow: black;
  text-decoration: none;
  position: relative;
  padding: 4px;
  box-shadow: 5px 5px 0 rgba(15, 14, 14, 0.534);
  transition: all 0.3s ease;
  margin: 0 45px 0 5px;
  cursor: pointer;
}
a{
  color: black!important;
  
}
.priceFilterbutt:hover, .ratingFilterbutt:hover, .allItemsbutt:hover, .newestFilterbutt:hover {
  color: rgb(189, 187, 187);
  text-shadow: rgb(70, 68, 68);
  box-shadow: 0px 0px 0px rgb(2, 175, 11);
  top: 5px;
  left: 5px;
}

a.newestFilterbutt{
  color:inherit;
  list-style-type: none;
}