
.content {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    margin: 0px -30px;
    border-radius: 45px;
}

.contentDiv {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 45%;
    width: 45%;
    margin: auto;
    border-radius: 45px;
}

.storeFrontdiv {
    height: 100%;
    width: 75%;
    margin-top: 30px;
    margin-left: 2%;
    border-radius: 35px;
    background-image: url(../images/pixel-background.jpg);
}
 
  
.homepageButts {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 65px 0px 45px 0px;
}
.priceFilterbutt{
  height: 118px;
  width: 118px;
  border-radius: 100%;
  color: rgb(0, 3, 3);
  background-color:  #c80808ec;
  font-family: Helvetica, Arial, Sans-Serif;
  font-size: 24px;
  text-decoration: none;
  text-shadow: -1px -1px 1px #470505;
  position: relative;
  padding: 1px;
  box-shadow: 5px 5px 0 rgba(15, 14, 14, 0.534);
  transition: all 0.3s ease;
  margin: 0 45px 0 5px;
  cursor: pointer;
}
.ratingFilterbutt{
  height: 118px;
  width: 118px;
  border-radius: 100%;
  color: rgb(0, 3, 3);
  background-color:  #c80808ec;
  font-family: Helvetica, Arial, Sans-Serif;
  font-size: 24px;
  text-decoration: none;
  text-shadow: -1px -1px 1px #470505;
  position: relative;
  padding: 1px;
  box-shadow: 5px 5px 0 rgba(15, 14, 14, 0.534);
  transition: all 0.3s ease;
  margin: 0 10px 0 5px;
}
.priceFilterbutt:hover {
  color: rgb(189, 187, 187);
  text-shadow: rgb(70, 68, 68);
  box-shadow: 0px 0px 0px rgb(2, 175, 11);
  top: 5px;
  left: 5px;
}
.ratingFilterbutt:hover {
  color: rgb(189, 187, 187);
  text-shadow: rgb(70, 68, 68);
  box-shadow: 0px 0px 0px rgb(2, 175, 11);
  top: 5px;
  left: 5px;
  cursor: pointer;
}
.products{
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  margin: 0px -15px;
  background-color: rgb(244, 253, 227);
  
}
.product{
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  height: 100%;
  max-height: 400px;
  background-color: rgba(36, 250, 36, 0.349);
  border-radius: 25px;
  padding: 15px;
}
.product:hover {
  box-shadow: 0px 0px 8px 3px #f0c040;
}
a{
  text-decoration: none;
  
}
a:hover{
  font-weight: 300;
  color:  #28292a;
}
.products li{
  list-style: none;
  padding: 0;
  flex: 0 1 34rem;
  margin: 1rem;
  height: 50rem;
}
.product-name{
  font-size: 2rem;
  font-weight: bold;
}
.product-brand{
  font-size: 1.2rem;
  color: grey;
}
.product-price{
  font-size: 2.5rem;
  font-weight: bold;

}
.product-image{
  display: block;
  max-width: 34rem;
  max-height: 20rem;

}
.product-ratings{
  margin-bottom: 1rem;
}
.dropdown{
  display: inline-block;
  position: relative;
}
.dropdown-content{
  position: absolute;
  display: none;
  right:0;
  padding: 1rem;
  list-style-type: none;
  z-index: 1;
  background-color:rgba(36, 250, 36, 0.349) ;
  margin:0;
  margin-top:0.4rem;
}
.dropdown:hover .dropdown-content{
  display: block;
} 