.Home {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
.content {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border-radius: 45px;
    
}
.contentDiv {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 45%;
    width: 45%;
    margin: auto;
    border-radius: 45px;
    
}
.itemHeader {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 70px;
  width: 140rem;
  padding: 12px;
  background-color: rgba(31, 228, 31, 0.431);
  margin-top: 10px;
  border-radius: 15px;
}
.itemHeader-links {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-around;
  padding: 10px;
}
.itemHeaderdiv {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 161%;
  margin-top: 55px;
}
.storeFrontdiv {
    height: 100%;
    width: 130rem;
    margin-top: 20px;
    margin-bottom: 10px;
    border-radius: 35px;
    background-image: url(../images/pixel-background.jpg);
}
.homepageButts {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 65px 0px 45px 0px;
}
.priceFilterbutt,.ratingFilterbutt,.allItemsbutt,.newestFilterbutt{
  height: 118px;
  width: 118px;
  border-radius: 100%;
  color: rgb(0, 3, 3);
  background-color:  #c80808ec;
  font-family: Helvetica, Arial, Sans-Serif;
  font-size: 24px;
  text-decoration: none;
  text-shadow: -1px -1px 1px #470505;
  position: relative;
  padding: 1px;
  box-shadow: 5px 5px 0 rgba(15, 14, 14, 0.534);
  transition: all 0.3s ease;
  margin: 0 45px 0 5px;
  cursor: pointer;
}

.priceFilterbutt:hover, .ratingFilterbutt:hover, .allItemsbutt:hover, .newestFilterbutt:hover {
  color: rgb(189, 187, 187);
  text-shadow: rgb(70, 68, 68);
  box-shadow: 0px 0px 0px rgb(2, 175, 11);
  top: 5px;
  left: 5px;
}

