/* PRODUCT DETAILS */
.megaPdiv {
  display: flex;
  justify-content: space-around;
  flex-direction: column;
  width: 90%;
}
.ulCenter {
  text-align: center;
}
li {
  font-size: 15px;
}
.productDiv {
  display: flex;
  /* justify-content: center; */
  align-items: center;
  flex-direction: row;
  margin-top: 4%;
  /* margin-left: 30%; */
  /* width: 90%; */
  margin-left: 250px;
}
.productInfoDiv {
  display: flex;
  flex-direction: row;
}
.content-margined h2{
  text-align: center;
}
.details {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  flex-direction: row;
  flex-wrap: nowrap;
  padding: 1rem;
}
.details-image {
  flex: 2 1 60rem;
}
.details-image img {
  width: 396.86px;
  height: 396.86px;
  margin-bottom: 15px;
}
.details-info {
  /* flex: 1 1 30rem; */
  margin-left: 200px;
}
.details-info ul,
.details-action ul {
  list-style-type: none;
  padding: 0;
}
.details-info li,
.details-action li {
  margin-bottom: 1rem;
}
.back-to-result {
  padding: 1rem;
}
.details-action {
  border: 0.1rem #808080 solid;
  border-radius: 0.5rem;
  background-color: #f8f8f8;
  padding: 1rem;
  width: 65px;
  max-width: 300px;
  max-height: 180px;
  margin-left: 300px;
}
.details-action ul li:last-child {
  display: flex;
  flex-direction: column;
}
.button {
  padding: 1rem;
  border: 0.1rem #808080 solid;
  border-radius: 0.5rem;
  cursor: pointer;
  border-radius: .5rem;
  color: black;
}
.button:hover {
  border: 0.1rem #404040 solid;
}

.button.secondary {
  background-color: #f0f0f0;
}
.text-center {
  text-align: center;
}
.product-select{
word-wrap: normal;
width: 25%;
text-align: center;
display: flex;
justify-content: center;
margin: auto;
}
.review-Form-container{
  display:flex;
  flex-direction:column;
  width: 32rem;
  padding: 2rem;
  border: .1rem #c0c0c0c0 solid;
  border-radius: .5rem;
  list-style-type: none;
}