html{
  font-size: 62.5%;
  box-sizing: border-box;
}
body{
  font: 1.6rem Helvetica;
  height: 100vh;
  margin: 0;
  background-color: rgba(203, 235, 173, 0.212);
}
button{
  font-size: 1.6rem;
}
.full-width {
  width: 100%;
}
#root{
  height: 100%;
}
.grid-container{
  display: grid;
  grid-template-areas: 
  "header"
  "main"
  "footer";
  grid-template-columns: 1fr;
  grid-template-rows: 5rem 1fr 5rem;
  height: 100%;
  width: 100%;
  
}
.main {
  width: 100%;
}
.header{
  grid-area: header;
  height: 90px;
  border-radius: 35px;
  width: 75%;
  margin-left: 13%;
  background-color: rgba(13, 195, 250, 0.657);
  color: white;
  display: flex;
  justify-content: space-around;
  align-items: center;
  padding: 15px;
}
.itemHeader {
  display: flex;
  align-items: flex-end;
  justify-content: space-around;
  height: 35px;
  width: 75.8%;
  padding: 8px;
  background-color: rgba(31, 228, 31, 0.431);
  margin-top: 95px;
  margin-left: 13%;
  border-radius: 15px;
}
.searchbox {
  display: block;
  width: 60rem;
  padding: 5px;

  margin: 0 1rem;  
  flex-grow: 1; /* <-- THE SECRET SAUCE! */
  min-width: 18rem;

  border: none;
  outline: none;
  background: none;

  background-color: #EEE;
  border-radius: 8px;

  color: #53565A;
  font-size: 20px;
  font-weight: 300;

  transition: 0.4s ease-out;
}

.searchbox:focus{
  box-shadow: 0px 0px 8px 3px #f0c040;
}

.brand a{
  color: white;
  font-size: 2.5rem;
  font-weight: bold;
  text-decoration: none;
  flex-shrink: 0;
  margin-left: 3px;

}
.headerLinks {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  
}
.signInbutt {
  height: 55px;
  width: 130px;
  border-radius: 10px;
  background-color: #f8a826;
  color: white;
  font-family: Helvetica, Arial, Sans-Serif;
  font-size: 20px;
  text-decoration: none;
  text-shadow: -1px -1px 1px #0742ca;
  position: relative;
  padding: 15px 30px;
  box-shadow: 5px 5px 0 rgba(73, 73, 73, 0.794);
  transition: all 0.3s ease;
  margin: 0 10px 0 0;
}
.signInbutt:hover {
  box-shadow: 0px 0px 0 #666;
  top: 5px;
  left: 5px;
}
.cartButt {
  height: 55px;
  width: 100px;
  border-radius: 10px;
  color: white;
  background-color: #f8a826;
  font-family: Helvetica, Arial, Sans-Serif;
  font-size: 20px;
  text-decoration: none;
  text-shadow: -1px -1px 1px #616161;
  position: relative;
  padding: 1px;
  box-shadow: 5px 5px 0 #666;
  transition: all 0.3s ease;
  margin: 0 10px 0 5px;
}
.cartButt:hover {
  box-shadow: 0px 0px 0px rgb(2, 175, 11);
  top: 5px;
  left: 5px;
}

.main{
  grid-area: main;
}
.footer{
  background-color: rgba(13, 195, 250, 0.972);
  text-align: center;
  padding: 20px;
  position: absolute;
  left: 12.2%;
  bottom: 0;
  top: 140%;
  height: 30px;
  width: 75.4%;
  border-radius: 15px;
}
