html{
  font-size: 62.5%;
  box-sizing: border-box;
}
body{
  font: 1.6rem Helvetica;
  height: 100vh;
  margin: 0;
  background-color: rgba(203, 235, 173, 0.212);
}
button{
  font-size: 1.6rem;
}
.full-width {
  width: 100%;
}
#root{
  height: 100%;
}
.grid-container{
  display: grid;
  grid-template-areas: 
  "header"
  "main"
  "footer";
  grid-template-columns: 1fr;
  grid-template-rows: 5rem 1fr 5rem;
  height: 100%;
  width: 100%;
  justify-items: center;
}
.main {
  width: 100%;
  margin-bottom: 25px;
  display: flex;
  justify-content: center;
  flex-direction: column;
}
.header{
  grid-area: header;
  height: 90px;
  width: 1400px;
  border-radius: 35px;
  margin: auto;
  background-color: rgba(13, 195, 250, 0.657);
  color: white;
  display: flex;
  justify-content: space-around;
  align-items: center;
  padding: 15px;
}

.itemHeader {
  display: flex;
  align-items: center;
  justify-content: space-around;
  height: 65px;
  width: 75%;
  padding: 8px;
  background-color: rgba(31, 228, 31, 0.431);
  margin-top: 95px;
 
  border-radius: 18px;
}
.searchbox {
  display: block;
  width: 60rem;
  padding: 5px;

  margin: 0 1rem;  
  flex-grow: 1; /* <-- THE SECRET SAUCE! */
  min-width: 18rem;

  border: none;
  outline: none;
  background: none;

  background-color: #EEE;
  border-radius: 8px;

  color: #53565A;
  font-size: 20px;
  font-weight: 300;

  transition: 0.4s ease-out;
}

.searchbox:focus{
  box-shadow: 0px 0px 8px 3px #f0c040;
}

.brand a{
  color: white;
  font-size: 2.5rem;
  font-weight: bold;
  text-decoration: none;
  flex-shrink: 0;
  margin-left: 3px;

}
.headerLinks {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  
}
.signInbutt {
  height: 55px;
  width: 130px;
  border-radius: 10px;
  background-color: #f8a826;
  color: white;
  font-family: Helvetica, Arial, Sans-Serif;
  font-size: 20px;
  text-align: center;
  text-decoration: none;
  text-shadow: -1px -1px 1px #0742ca;
  position: relative;
  padding: 5px;
  box-shadow: 5px 5px 0 rgba(73, 73, 73, 0.794);
  transition: all 0.3s ease;
  margin: 0 10px 0 0;
}
.signInbutt:hover {
  box-shadow: 0px 0px 0 #666;
  top: 5px;
  left: 5px;
}
.cartButt {
  height: 55px;
  width: 100px;
  border-radius: 10px;
  color: white;
  background-color: #f8a826;
  font-family: Helvetica, Arial, Sans-Serif;
  font-size: 20px;
  text-decoration: none;
  text-shadow: -1px -1px 1px #616161;
  position: relative;
  padding: 1px;
  box-shadow: 5px 5px 0 #666;
  transition: all 0.3s ease;
  margin: 0 10px 0 5px;
}
.cartButt:hover {
  box-shadow: 0px 0px 0px rgb(2, 175, 11);
  top: 5px;
  left: 5px;
}

.main{
  grid-area: main;
}
.footerDiv ,.itemHeaderdiv,.headerDiv {
  display: flex;
  justify-content: center;
  align-items: center;
  
}
.footer{
  background-color: rgba(13, 195, 250, 0.972);
  text-align: center;
  padding: 20px;
  position: absolute;
  height: 70px;
  width: 80%;
  border-radius: 18px;
  margin-top: 65px;
}
.checkout-steps{
  display: flex;
  justify-content: space-between;
  width: 40rem;
  margin: 1rem auto;

}
.checkout-steps > div{
  border-top: .3rem #c0c0c0 solid;
  color: #c0c0c0;
  flex: 1 1;
  padding-top: 1rem;
}
.checkout-steps > div.active{
  border-top: .3rem #f08000 solid;
  color: #f08000;
}
/* Place Order */

.placeorder{
  display: flex;
  flex-grow: wrap;
  padding: 1rem;
  justify-content: space-between;
}
.placeorder-info{
  flex: 3 1 60rem; 
}
.placeorder-action{
  flex: 1 1 20rem;
  border: .1rem #c0c0c0 solid;
  border-radius: .5rem;
  background-color: #fcfcfc;
  padding: 1rem;
}
.placeorder-info > div{
  border: .1rem #c0c0c0 solid;
  border-radius: .5rem;
  background-color: #fcfcfc;
  padding: 1rem;
  margin: 1rem;
}
.placeorder-info > div:first-child{
  margin-top: 0;
}
.placeorder-action > ul {
  padding: 0;
  list-style-type: none;
}
.placeorder-action > ul > li{
  display: flex;
  justify-content: space-between;
  margin-bottom: 1rem;
}
.placeorder-action > ul > li:last-child{
    font-size: 2rem;
    font-weight: bold;
    color: #c04000;
} 
.placeorder-actions-payment > div{
  width: 100%;
}
.dropdown{
  display: inline-block;
  position: relative;
}
.dropdown-content{
  position: absolute;
  display: none;
  right:0;
  padding: 3rem;
  list-style-type: none;
  z-index: 1;
  background-color:rgba(36, 250, 36, 0.349) ;
  margin:0;
  margin-top:0.4rem;
}
.dropdown:hover .dropdown-content{
  display: ruby-base-container;
} 
/* Products */

.product-header{
  display: flex;
  justify-content: space-between;
  align-items: flex-start;

}

.content-margined{
  margin: 1rem;
}

.table{
  width: 100%;
}
th{
  text-align: left;
}
tbody>tr:nth-child(odd){
  background-color: #f0f0f0;
} 

/* Checkout Steps */